@model List<Club>

@{
    ViewBag.Title = "Favoris | Clubs";
    ViewBag.ActiveMenuItem = "Favoris";
}

    <main class="container-fluid  p-5 flex-grow-1">
        <div class="row mt-4">
            <div class="col-10">
            
                    
                    <div class="table-responsive-lg">
                        <table class="table ">
                            <thead class="table-dark">
                                <tr>
                                <th scope="col">Image  </th>
                                    <th scope="col">Nom du club</th>
                                    <th scope="col">Nom de la ligue</th>
                                    <th scope="col">Pays</th>
                            <th scope="col">Action <span class="text-danger">@(ViewData["id"]==null ? "":"ID"+ViewData["id"] ) </span> </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(Club club in Model){
                            <form action="/Favoris/Supprimer">
                                <tr>
                                    <th scope="row"><img src="@(club.Image)" class="img-fluid" alt="Image de l'entité"></th>
                                    <td>@(club.Nom)</td>
                                    <td>@(club.Ligue.Nom)</td>
                                    <td>@(club.Ligue.Pays)</td>
                                    <td>
                                        <input type="hidden" class="form-control" value="@(club.ClubID)" name="id">
                                        <button type="submit" class="btn btn-danger mb-3"> <i class="fa fa-trash"></i> </button>
                                    </td>
                                </tr>
                            </form>
                               }

                            </tbody>
                        </table>
                    </div>
                
            </div>

            <div class="col-2 ">
                <div class="text-center image_float">
                    <img src="/images/ballon.png" class="img-fluid" alt="">
                </div>
            </div>

        </div>
    </main>
