@model PageRechercheViewModel

@{
    ViewBag.ActiveMenuItem = "Recherche";
    ViewBag.Title = "Recherche | Clubs | Par Ligue";
}

    <main class="container p-0 flex-grow-1">
        <!-- Contenu principal -->
        <div class="container mt-4">
            <div class="row g-2 section_listeClubs-formulaire">
                <!-- Colonne pour la liste des CLUBS -->
                <div class="col-md-8">
                    <div class="search-results">
                        <!-- <h2>Listes des clubs</h2> -->
                        <div class="row">
                            <!-- Clubs -->
                            <!-- Entité enfant -->
                            @foreach(Club club in Model.Resultat){
                            <div class="col-12 col-md-4 mb-3 mt-1">
                                <a href="/Enfant/Detail/@(club.ClubID)" class="text-decoration-none" title="@(club.Nom)">
                                    <div class="card entity-card p-1">
                                        <img src="@(club.Image)" class="card-img-top img-fluid" alt="Image de l'entité">
                                        <div class="card-body">
                                            <div class="row text-center">
                                                <h4 class="text-info">@club.Nom</h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                        </div>
                    </div>
               </div>
                <!-- Colonne pour le formulaire de recherche -->
                <div class="col-md-4 mt-md-4">
                    <div class="search-form">
                        <div class="row">
                            <div class="col-10">
                                <h3 class="mb-2">Recherche des clubs</h3>
                            </div>
                            <div class="col-2">
                                <div class="spinner-grow spinner-grow-sm text-warning" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>

                    <form action="/Enfant/RechercheClub" method="POST">
                            <div class="form-group">
                                <label for="MotsCles">Recherche par mots-clés :</label>
                            <input type="text" class="form-control" value="@Model.Criteres.MotsCles" id="MotsCles" name="MotsCles">
                            </div>
                            <div class="form-group">
                                <label for="numeric-filter">Nombre de titres au championat :</label>
                            <div class="row">
                                <div class="col">
                                    <input type="number" class="form-control" min="0" value="@Model.Criteres.MinTitreAuChampionat" placeholder="Min" id="numeric-filter" name="MinTitreAuChampionat">                                   
                                </div>
                                <div class="col">                                    
                                    <input type="number" class="form-control" min="1" value="@Model.Criteres.MaxTitreAuChampionat" placeholder="Max" name="MaxTitreAuChampionat">
                                </div>
                            </div>
                        </div>
                            <div class="form-group">
                                <label for="choixPourClubVedette">Club vedette :</label>
                            <select class=" form-select" aria-label="Default select example" id="choixPourClubVedette" name="choixPourClubVedette">
                                <option value="" @(Model.Criteres.choixPourClubVedette == null ? "selected" : "")>Peu importe</option>
                                <option value="Oui" @(Model.Criteres.choixPourClubVedette == "Oui" ? "selected" : "")>Oui</option>
                                <option value="Non" @(Model.Criteres.choixPourClubVedette == "Non" ? "selected" : "")>Non</option>
                                </select>
                            </div>
                            <div class="form-group my-2 mb-3">

                                <span>Ligues :</span><br>

                                <div class="form-check form-check">

                                @if (@Model.Criteres.EstClubPremierLigue){
                                    <input class="form-check-input" type="checkbox" id="EstClubPremierLigue" name="EstClubPremierLigue" checked>
                                }
                                else
                                {
                                    <input class="form-check-input" type="checkbox" id="EstClubPremierLigue" name="EstClubPremierLigue">
                                }
                                <label class="form-check-label" for="EstClubPremierLigue"> Club Premier League</label>
                                </div>

                                <div class="form-check form-check">
                                @if (@Model.Criteres.EstClubLiga)
                                {
                                    <input class="form-check-input" type="checkbox" id="EstClubLiga" name="EstClubLiga" checked>
                                }
                                else
                                {
                                    <input class="form-check-input" type="checkbox" id="EstClubLiga" name="EstClubLiga">
                                }
                                <label class="form-check-label" for="EstClubLiga">Club Liga</label>

                                </div>

                                <div class="form-check form-check">
                                @if (@Model.Criteres.EstClubLigue1)
                                {
                                    <input class="form-check-input" type="checkbox" id="EstClubLigue1" name="EstClubLigue1" checked>
                                }
                                else
                                {
                                    <input class="form-check-input" type="checkbox" id="EstClubLigue1" name="EstClubLigue1">
                                }
                                <label class="form-check-label" for="EstClubLigue1">Club Ligue 1</label>
                                </div>

                            </div>

                        <div class="row text-center">
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i> Rechercher</button>
                            </div>

                            <div class="col-6">
                                <button type="reset" class="btn btn-secondary"><i class="fa-solid fa-arrows-rotate"></i> Réinitialiser</button>
                            </div>
                        </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </main>