@model List<Ligue>

@{
    ViewBag.Title = "Accueil | Ligues";
    ViewBag.ActiveMenuItem = "Home";

    var test = Model;

}


    <main class="container p-5 flex-grow-1">
        <div class="row g-4 ">

            <div class="col-12 text-dark" id="ligues">

                <div class="col-2 ">
                    <div class="text-center image_rotation">
                        <img src="/images/ballon.png" class="img-fluid" alt="">
                    </div>
                </div>

            </div>
    @foreach (Ligue ligue in Model)
    {
            <div class="col-12 col-md-4">
                <div class="card shadow h-100">

                    <a href="/Enfant/Recherche/@(ligue.LigueID)">
                    <img src="@(ligue.Image)" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title mt-md-3">Pays et Clubs</h5>
                            <ul>
                                <li>Pays: <span class="text-info"> @(ligue.Pays) </span> </li>
                                <li>Nombres de clubs: <span class="text-info">@(ligue.Clubs.Count())</span> </li>
                                <li>
                                    Moyenne titres remportés:
                                    <span class="text-info">  @((double)ligue.Clubs.Sum(c => c.NombreTitreAuChampionat) / ligue.Clubs.Count()) </span>
                                </li>
                            </ul>
                            <h5 class="card-title">Description</h5>
                        <p class="card-text">@(ligue.Description)</p>
                        </div>
                    </a>
                    <button type="button" class="btn btn-outline-info  m-4" data-bs-toggle="modal" data-bs-target="#exampleModal@(ligue.LigueID)"> En savoir plus <i class="fa-solid fa-circle-info"></i> </button>
                </div>
            </div>
        }
        </div>
    </main>
    

    <!-- Modals -->
    @foreach (Ligue ligue in Model)
    {
    <div class="modal fade" id="exampleModal@(ligue.LigueID)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Informations sur <span class="text-info">@(ligue.Nom)</span> </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h1> <span class="text-info"> @(ligue.Nom) </span> </h1>
                    <p>
                        @(ligue.Description) Pour en savoir plus, consultez <a class="text-info" href="@(ligue.EnSavoirPlus)" title="wikipedia"> wikipedia </a>.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}
 